/*
    All the styling for the header
 */

.contact-service {
    text-align: center;
}

.contact-info {
    text-align: left;
    padding: 100px;
}

.contact-image img {
    width: 100%;
    padding: 100px;
}


/* TABLET STYLING */
@media (max-width: 1024px) {

    .contact-service, .contact-info {
        text-align: left;
    }

    .contact-info, .contact-image img {
        padding: 0px;
    }



    .home-hero {
        height: 250px;
    }
}

@media (max-width: 980px) {

}

/* tablet portrait / phone landscape */
@media (max-width: 900px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 767px) and (min-width: 425px) {
}

/* MOBILE STYLING */
@media (max-width: 425px) {

}
