/*
    All the styling for the header
 */


.contact-info {
    color: #000;
}

.contact-info ul li {
    color: #000;
}


.contact-image img {
    width: 100%;
}


/* TABLET STYLING */
@media (max-width: 1024px) {

    .contact-service, .contact-info {
        text-align: left;
    }

    .contact-info, .contact-image img {
        padding: 0px;
    }

}

@media (max-width: 980px) {

}

/* tablet portrait / phone landscape */
@media (max-width: 900px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 767px) and (min-width: 425px) {
}

/* MOBILE STYLING */
@media (max-width: 425px) {

}
