/*
    All the styling for the header
 */

.text-center {
    text-align: center;

}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.padding-left {
 padding-left: 5em ;
}
.padding-right {
    padding-right: 5em;
}
.padding-top {
padding-top:  8em;

}
.padding-bottom {
    padding-bottom:  80em;
}
.padding-left2 {
    padding-left: 35em;
}
