body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.slider {
    background-image: url('../img/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 25px;
}

.slider-caption {
    margin: 150px 0px 50px 0px;
    color: #fff;
}


/* buttons */

a.btn-link {
    font-size: 20px;
    font-weight: bold;
}

a.btn-link.light{
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
}

a.btn-link.light:hover {
    color: #01983b;
    background-color: #fff;
    text-decoration: none;
}


a.btn-link.dark{
    padding: 10px 20px;
    color: #01983b;
    border: 1px solid #01983b;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
}

a.btn-link.dark:hover {
    color: #fff;
    background-color: #01983b;
    border: 1px solid #fff;
    text-decoration: none;
}
