body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.slider {
    background-image: url('../img/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    right: 0;
    height: 350px;
    margin-bottom: 25px;
}

.slider-caption {
    position: relative;
    top: 175px;
    color: #fff;
}
