/*
    All the styling for the header
 */


/**
Main header
 */
header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #c4e538 0%, #009431 74%);
    z-index: 10;
}

header.main-header .header-logo {
    display: inline-block;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 55%;
}

header.main-header .header-logo img {
    width: 100%;
}


/**
Toggle
 */

/*header.main-header .menu-toggle {*/
    /*display: inline-block;*/
    /*float: right;*/
    /*position: relative;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 35%;*/
    /*height: 100%;*/
/*}*/

/**
Menu sidebar
 */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    background: #34495e;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 15;
}

.menu-open {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}


/**
Hamburger
 */

.box {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    background: transparent;
    border-radius: 2px;
    z-index: 20;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    cursor: pointer;
}

span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 8px;
    background: #fff;
    transition: all .3s;
    position: relative;
}

span + span {
    margin-top: 14px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 22px;
        transform: rotate(0);
    }
    100% {
        top: 22px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg);
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 22px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* TABLET STYLING */
@media (max-width: 1024px) {

    header.main-header .header-logo img {
        position: relative;
        width: 80%;
    }

    .menu {
        width: 100%;
    }

@media (max-width: 980px) {

}

/* tablet portrait / phone landscape */
@media (max-width: 900px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 767px) and (min-width: 425px) {
}

/* MOBILE STYLING */
@media (max-width: 425px) {

}
