/*
    All the styling for the header
 */


.about-block {

}

.about-block .about-text {

}

.about-block .about-image img {
    width: 100%;
}


.offers div {
    margin-bottom: 75px;
}

.offers img {
    width: 100%;
    min-height: 400px;
}

.offers h3 {
    padding: 10px 0px;
}

/* TABLET STYLING */
@media (max-width: 1024px) {

}

@media (max-width: 980px) {

}

/* tablet portrait / phone landscape */
@media (max-width: 900px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 767px) and (min-width: 425px) {
}

/* MOBILE STYLING */
@media (max-width: 425px) {

}
